/* FONT STACK */
@import url(http://fonts.googleapis.com/css?family=Noto+Sans);

body,
input, select, textarea {
	/*font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;*/ 
	font-family: 'Noto Sans', sans-serif;
	font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.1;
}

/* BASE LAYOUT */

html {
	background-color: #fff;
}

html.no-cssgradients {
	background-color: #fff;
}

.ie6 html {
	height: 100%;
}

html * {
	margin: 0;
}

body {
	background: #fff;
	color: #000;
	margin: 0 auto;
	width: 100%;
	overflow-x: hidden; /* prevents box-shadow causing a horizontal scrollbar in firefox when viewport < 960px wide */
	min-width: 785px;
	font-size:0.9em;
}



/* replace with .no-boxshadow body if you have modernizr available */
.ie6 body,
.ie7 body,
.ie8 body {
	border-color: #255b17;
	border-style: solid;
	border-width: 0 1px;
}

.ie6 body {
	height: 100%;
}

a, a:visited {
	/* color: #1E3F6C; */
	color: #3E5F8C;
	text-decoration: none;
}

a:hover, a:active {
	outline: none; /* prevents outline in webkit on active links but retains it for tab focus */
	color: #1E3F6C;
	text-decoration: underline;
}

h1 {
	color: #1E3F6C;
	font-weight: bold;
	font-size: 1.6em;
	margin: 0.3em;
	margin-left: 20px;
}

h2 {
	color: #1E3F6C;
	font-weight: bold;
	font-size: 1.3em;
	margin-bottom: 0.5em;
}

p {
	padding:15px 20px;
}

ul {
	padding: 0;
}

img {
	border: 0;
}

/* GENERAL */

#topbar {
	background-color: #1E3F6C;
	height: 64px;
}

#logo {
	float: left;
}

#logo h1 {
	color: #DDAD3E;
	font-size: 2em;
	padding: 0px;
	margin: 0px;
}

#logo a, 
#logo a:visited, 
#logo a:hover {
	display: inline-block;
	margin: 1em;
	color: #DDAD3E;
	text-decoration: none;
}

#navigation {
	float: right;
	margin-top:20px;
}

#navigation ul {
	list-style: unstyled;
}

#navigation li {
	display: inline;
	padding-right: 20px;
	color: white;
}

#navigation li a {
	color: white;
	text-decoration: none;
}

#content {
	padding: 20px;
}

#content h1 {
	border-bottom: 1px solid #CCCCCC;
}

.scaffold-list h1 {
	border: none;
}

.footer {
	background: #1E3F6C;
	color: #000;
	clear: both;
	font-size: 0.8em;
	margin-top: 1.5em;
	padding: 1em;
	min-height: 1em;
}

.footer a {
	color: #255b17;
}

.spinner {
	background: url(../images/spinner.gif) 50% 50% no-repeat transparent;
	height: 16px;
	width: 16px;
    padding: 0.5em;
    position: absolute;
    right: 0;
	top: 0;
	text-indent: -9999px;
}

.button {
	margin-left: 20px;
}

/* ASSET STYLING  */

#asset-info {
	min-width:900px;
}

#asset-left {
	float:left;
	padding-left:20px;
}

#asset-right {
	float:right;
	padding-right: 20px;
}

#asset-top {
	padding-bottom: 20px;
}

#show-asset {
	float:left;
	width:65%;
}

#list {
	margin: 20px 20px 0px;
}

#list-asset {
	margin: 20px 20px 0px;
}

#list-client {
	margin: 20px 20px 0px;
}

#list-update {
	margin: 0 20px;
}

#update-asset {
	width:260px;
	float:right;
	padding: 20px;
}



#update-asset .fieldcontain label,
#update-asset .fieldcontain .property-label {
	width: 30%;
}

#asset-update {
	padding-top: 1em;
	float:right;
	width:30%;
	min-width: 330px;
}

#distribute-asset {
	float:left;
	padding:1em 1em 20px;
	margin: 20px;
	background: #efefef;
	display:none;
}

#distribute-asset tr:hover {
	background: inherit;
}

#main-content {
	float:left;
	width:65%;
}

#options {
	float:right;
	width:240px;
	padding:0px;
	text-align:left;
}

#options a:hover,
#options a:visited {
	color: #3E5F8C;
	text-decoration: none;
}

/* I will delete these eventually */
#dashboard #main-content {
	width:84%;
}

#dashboard #options {
	width: 15%;
}

/* STATE IMAGES */

.state-Holding {
	background: url("/harbor/images/states/holding.png") no-repeat;
	padding-left: 20px;
}

.state-Issuable {
	background: url("/harbor/images/states/issuable.png") no-repeat;
	padding-left: 20px;
}

.state-In-for-repair {
	background: url("/harbor/images/states/in_for_repair.png") no-repeat;
	padding-left: 20px;
}

.state-Issued {
	background: url("/harbor/images/states/issued.png") no-repeat;
	padding-left: 20px;
}

.state-Not-working {
	background: url("/harbor/images/states/not_working.png") no-repeat;
	padding-left: 20px;
}

.state-Part-out {
	background: url("/harbor/images/states/part_out.png") no-repeat;
	padding-left: 20px;
}

.state-Service-Pool {
	background: url("/harbor/images/states/service_pool.png") no-repeat;
	padding-left: 20px;
}

.state-Stolen {
	background: url("/harbor/images/states/stolen.png") no-repeat;
	padding-left: 20px;
}

.state-Surplused {
	background: url("/harbor/images/states/surplused.png") no-repeat;
	padding-left: 20px;
}

/* NAVIGATION MENU */

.nav {
	background-color: #efefef;
	padding: 0.5em 0.75em;
	   -moz-box-shadow: 0 0 3px 1px #aaaaaa;
	-webkit-box-shadow: 0 0 3px 1px #aaaaaa;
	        box-shadow: 0 0 3px 1px #aaaaaa;
	zoom: 1;
}

.nav ul {
	overflow: hidden;
	padding-left: 0;
	zoom: 1;
}

.nav li {
	display: block;
	float: left;
	list-style-type: none;
	margin-right: 0.5em;
	padding: 0;
}

.nav a {
	color: #666666;
	display: block;
	padding: 0.25em 0.7em;
	text-decoration: none;
	   -moz-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	        border-radius: 0.3em;
}

.nav a:active, .nav a:visited {
	color: #666666;
}

.nav a:focus, .nav a:hover {
	background-color: #999999;
	color: #ffffff;
	outline: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.no-borderradius .nav a:focus, .no-borderradius .nav a:hover {
	background-color: transparent;
	color: #444444;
	text-decoration: underline;
}

.nav a.home, .nav a.list, .nav a.create {
	background-position: 0.7em center;
	background-repeat: no-repeat;
	text-indent: 25px;
}

.nav a.home {
	background-image: url(../images/skin/house.png);
}

.nav a.list {
	background-image: url(../images/skin/database_table.png);
}

.nav a.create {
	background-image: url(../images/skin/database_add.png);
}

/* CREATE/EDIT FORMS AND SHOW PAGES */

fieldset,
.property-list {
	padding: 0.3em 1.0em 1.25em; 
	border: none;
	background: #eee;
	width: 230px;
}

#create-asset fieldset, 
#create-asset .property-list {
	padding: 0.3em 1.8em 1.25em; 
	border: none;
	min-width: 335px;
	margin-left:20px;
}


#create-asset .property-list .fieldcontain {
	list-style: none;
	overflow: hidden;
	zoom: 1;
}

#create-client fieldset, 
#create-client .property-list {
	padding: 0.3em 1.8em 1.25em; 
	border: none;
	min-width: 345px;
	margin-left:20px;
}


#create-client .property-list .fieldcontain {
	list-style: none;
	overflow: hidden;
	zoom: 1;
}

#create-client .fieldcontain label,
#create-client .fieldcontain .property-label {
	color: #666;
	text-align: left;
	width: 30%;
}

#asset-left fieldset, .property-list {
	width: 280px;
}

#asset-right fieldset, #asset-right .property-list {
	width: 190px;
}

#show-client fieldset, #show-client .property-list {
	width: 400px;
}


.property-list .fieldcontain {
	list-style: none;
	overflow: hidden;
	zoom: 1;
}

.fieldcontain {
	margin-top: 0.4em;
}

.fieldcontain label,
.fieldcontain .property-label {
	color: #666;
	text-align: left;
	width: 30%;
}

#options .fieldcontain label,
#options .fieldcontain .property-label {
	color: #666;
	text-align: left;
	width: 25%;
}

.fieldcontain .property-label {
	float: left;
}

.fieldcontain .property-value {
	display: block;
	margin-left: 25%;
}

label {
	cursor: pointer;
	display: inline-block;
	margin: 0 0.25em 0 0;
}

input, select, textarea {
	background-color: #fcfcfc;
	border: 1px solid #cccccc;
	font-size: 1em;
	padding: 0.2em 0.4em;
}

select {
	padding: 0.2em 0.2em 0.2em 0;
}

select[multiple] {
	vertical-align: top;
}

textarea {
	width: 205px;
	height: 70px;
	overflow: auto; /* IE always renders vertical scrollbar without this */
	vertical-align: top;
}

#update-asset text-area {
	width:90%;
	height: 50%;
}

input[type=checkbox], input[type=radio] {
	background-color: transparent;
	border: 0;
	padding: 0;
}

input:focus, select:focus, textarea:focus {
	background-color: #ffffff;
	border: 1px solid #eeeeee;
	outline: 0;
	   -moz-box-shadow: 0 0 0.5em #ffffff;
	-webkit-box-shadow: 0 0 0.5em #ffffff;
	        box-shadow: 0 0 0.5em #ffffff;
}

.required-indicator {
	color: #1E3F6C;
	display: inline-block;
	font-weight: bold;
	margin-left: 0.3em;
	position: relative;
	top: 0.1em;
}

ul.one-to-many {
	display: inline-block;
	list-style-position: inside;
	vertical-align: top;
}

.ie6 ul.one-to-many, .ie7 ul.one-to-many {
	display: inline;
	zoom: 1;
}

ul.one-to-many li.add {
	list-style-type: none;
}

/* EMBEDDED PROPERTIES */

fieldset.embedded {
	background-color: transparent;
	border: 1px solid #CCCCCC;
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
	   -moz-box-shadow: none;
	-webkit-box-shadow: none;
	        box-shadow: none;
}

fieldset.embedded legend {
	margin: 0 1em;
}

/* MESSAGES AND ERRORS */

.errors,
.message {
	font-size: 0.8em;
	line-height: 2;
	margin: 1.5em 1.5em 1em;
	padding: 0.25em;
}

.message {
	background: #ecf6ff;
	color: #006dba;
}

.errors {
	background: #fff3f3;
	border: 1px solid #ffaaaa;
	color: #cc0000;
	   -moz-box-shadow: 0 0 0.25em #ff8888;
	-webkit-box-shadow: 0 0 0.25em #ff8888;
	        box-shadow: 0 0 0.25em #ff8888;
}

.errors ul,
.message {
	padding: 0;
}

.errors li {
	list-style: none;
	background: transparent url(../images/skin/exclamation.png) 0.5em 50% no-repeat;
	text-indent: 1.5em;
}

.message {
	text-indent: 1.5em;
}

/* form fields with errors */

.error input, .error select, .error textarea {
	background: #fff3f3;
	border-color: #ffaaaa;
	color: #cc0000;
}

.error input:focus, .error select:focus, .error textarea:focus {
	   -moz-box-shadow: 0 0 0.5em #ffaaaa;
	-webkit-box-shadow: 0 0 0.5em #ffaaaa;
	        box-shadow: 0 0 0.5em #ffaaaa;
}

/* same effects for browsers that support HTML5 client-side validation (these have to be specified separately or IE will ignore the entire rule) */

input:invalid, select:invalid, textarea:invalid {
	background: #fff3f3;
	border-color: #ffaaaa;
	color: #cc0000;
}

input:invalid:focus, select:invalid:focus, textarea:invalid:focus {
	   -moz-box-shadow: 0 0 0.5em #ffaaaa;
	-webkit-box-shadow: 0 0 0.5em #ffaaaa;
	        box-shadow: 0 0 0.5em #ffaaaa;
}

/* TABLES */

table {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 1em;
}

tr {
	border: 0;
}

tr>td:first-child, tr>th:first-child {
	padding-left: 1.25em;
}

tr>td:last-child, tr>th:last-child {
	padding-right: 1.25em;
}

td, th {
	padding: 0.5em 0.6em;
	text-align: left;
	vertical-align: top;
}

th {
	background-color: #efefef;
	/* background-image: -moz-linear-gradient(top, #ffffff, #eaeaea);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #eaeaea));
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#ffffff', EndColorStr = '#eaeaea');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#eaeaea')"; */
	color: #666666;
	font-weight: bold;
	line-height: 1.7em;
	padding: 0.2em 0.6em;
}

thead th {
	white-space: nowrap;
}

th a {
	display: block;
	text-decoration: none;
}

th a:link, th a:visited {
	color: #666666;
}

th a:hover, th a:focus {
	color: #333333;
}

th.sortable a {
	background-position: right;
	background-repeat: no-repeat;
	padding-right: 1.1em;
}

th.asc a {
	background-image: url(../images/skin/sorted_asc.gif);
}

th.desc a {
	background-image: url(../images/skin/sorted_desc.gif);
}

.odd {
	background: #f7f7f7;
}

.even {
	background: #ffffff;
}

tr:hover {
	background: #ecf6ff;
}


/* PAGINATION */

.pagination {
	border-top: 0;
	margin: 0;
	text-align: center;
	background-color: #EFEFEF;
	width:100%;
	padding: 5px 0;
}

.pagination a,
.pagination .currentStep {
	color: #666666;
	display: inline-block;
	margin: 0 0.1em;
	padding: 0.25em 0.7em;
	text-decoration: none;
	   -moz-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	        border-radius: 0.3em;
}

.pagination a:hover, .pagination a:focus,
.pagination .currentStep {
	background-color: #999999;
	color: #ffffff;
	outline: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.no-borderradius .pagination a:hover, .no-borderradius .pagination a:focus,
.no-borderradius .pagination .currentStep {
	background-color: transparent;
	color: #444444;
	text-decoration: underline;
}

/* ACTION BUTTONS */

.buttons {
	background-color: #efefef;
	overflow: hidden;
	padding: 0.3em;
	   -moz-box-shadow: 0 0 3px 1px #aaaaaa;
	-webkit-box-shadow: 0 0 3px 1px #aaaaaa;
	        box-shadow: 0 0 3px 1px #aaaaaa;
	margin: 0.1em 0 0 0;
	border: none;
}

.buttons input,
.buttons a {
	background-color: transparent;
	border: 0;
	color: #666666;
	cursor: pointer;
	display: inline-block;
	margin: 0 0.25em 0;
	overflow: visible;
	padding: 0.25em 0.7em;
	text-decoration: none;

	   -moz-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	        border-radius: 0.3em;
}

.buttons input:hover, .buttons input:focus,
.buttons a:hover, .buttons a:focus {
	background-color: #999999;
	color: #ffffff;
	outline: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
	   -moz-box-shadow: none;
	-webkit-box-shadow: none;
	        box-shadow: none;
}

.no-borderradius .buttons input:hover, .no-borderradius .buttons input:focus,
.no-borderradius .buttons a:hover, .no-borderradius .buttons a:focus {
	background-color: transparent;
	color: #444444;
	text-decoration: underline;
}

.buttons .delete, .buttons .edit, .buttons .save {
	background-position: 0.7em center;
	background-repeat: no-repeat;
	text-indent: 25px;
}

.ie6 .buttons input.delete, .ie6 .buttons input.edit, .ie6 .buttons input.save,
.ie7 .buttons input.delete, .ie7 .buttons input.edit, .ie7 .buttons input.save {
	padding-left: 36px;
}

.buttons .delete {
	background-image: url(../images/skin/database_delete.png);
}

.buttons .edit {
	background-image: url(../images/skin/database_edit.png);
}

.buttons .save {
	background-image: url(../images/skin/database_save.png);
}

a.skip {
	position: absolute;
	left: -9999px;
}

.clearBoth {
	clear:both;	
}
